@font-face 
 font-family: 'Heliosc', sans-serif
 src: url('./fonts/heliosc.otf')
 font-weight: 400
@font-face 
 font-family: 'Heliosc', sans-serif
 src: url('./fonts/heliosc_bold.otf') 
 font-weight: 700
@font-face 
 font-family: 'Heliosc-bold-italic', sans-serif
 src: url('./fonts/heliosc_bolditalic.otf')  
