.partners
 min-height: 100vh
 background-image: url(../img/bg-seventh.png)
 background-repeat: no-repeat
 background-size: cover
 display: flex
 &__wrapper
  max-width: 1300px
  margin: auto
  flex: 1
 &__title
  text-transform: uppercase
  position: relative
  h3
   font-size: 62px
   color: #1A88C9
   font-family: 'Bebas Neue'
   font-weight: 700
  a
   position: absolute
   top: 10px
   right: 0
   font-family: 'Heliosc', sans-serif
   font-size: 20px
   color: #1DA29F
 &__container
  display: flex
  flex-wrap: wrap   
  justify-content: space-between
  row-gap: 50px
 &__box
  max-width: 400px
  flex: 1
  flex-basis: 33%
  transition: all .2s
 &__box:hover
  transform: scale(1.2) 
 &__name
  background: linear-gradient(89.99deg, rgba(80, 80, 153, 0.34) 0.01%, rgba(83, 83, 156, 0.68) 22.92%, rgba(32, 139, 201, 0.68) 50.52%, rgba(29, 162, 158, 0.68) 99.99%)
  font-size: 28px   
  font-family: 'Bebas Neue'
  font-weight: 700
  height: 55px
  display: flex
  align-items: center
  h4
   padding-left: 35px
   margin: 0
 &__logo
  background: #FFF
  height: 125px
  display: flex
  align-items: center
  justify-content: center  