html
 overflow-x: hidden
 
body
 overflow-x: hidden
 margin: 0
 color: #fff
 font-family: 'Heliosc', sans-serif
main
  position: relative
  z-index: 50
  margin-bottom: 424px
footer
  position: fixed  
  z-index: 3
  bottom: 0
  width: 100%
ul
 list-style: none
 padding: 0
a
 text-decoration: none
 color: #fff 
.button
 display: inline-block
 width: 220px
 height: 50px 
 background-color: #B72F92
 border: none
 color: #fff   
 font-family: 'Heliosc-bold', sans-serif
 font-size: 14px
 cursor: pointer
@media screen and ( max-width: 1280px )  
  .no-hover
    pointer-events: none
@media screen and ( max-width: 900px )      
  main
    margin-bottom: 748px
@import 'fonts'
@import 'video'
@import 'header'
@import 'nav'
@import 'preview'
@import 'news'
@import 'themes'
@import 'accordion'
@import 'results'
@import 'national'
@import 'speakers'
@import 'partners'
@import 'footer'